<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} API documentation</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="generator" content="https://github.com/kevinrenskers/raml2html {{config.raml2HtmlVersion}}">
  <meta content="Mesh is a tool-kit for building reactive applications on the JVM." name="description">

  <link href="{{config.siteUrl}}/stylesheets/main.css" media="screen" rel="stylesheet">
  <link href="{{config.siteUrl}}javascript/styles/rainbow.min.css" media="screen" rel="stylesheet">
  <!-- IE 6-8 support of HTML 5 elements -->
  <!--[if lt IE 9]>
  <script src="http://static.jboss.org/theme/js/libs/html5/pre3.6/html5.min.js"></script>
  <![endif]-->
  <link href="{{config.siteUrl}}/assets/favicons/mesh-favicon-5.ico" rel="shortcut icon">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
  <script type="text/javascript" src="{{config.siteUrl}}/javascript/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>

  <script type="text/javascript">
        $(document).ready(function() {
            $('.page-header pre code, .top-resource-description pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });

            $('[data-toggle]').click(function() {
                var selector = $(this).data('target') + ' pre code';
                $(selector).each(function(i, block) {
                    hljs.highlightBlock(block);
                });
            });
        });
    </script>

    <style>
        .hljs {
            background: transparent;
        }
        .parent {
            color: #999;
        }
        .list-group-item > .badge {
            float: none;
            margin-right: 6px;
        }
        .panel-title > .methods {
            float: right;
        }
        .badge {
            border-radius: 0;
            text-transform: uppercase;
            width: 70px;
            font-weight: normal;
            color: #f3f3f6;
            line-height: normal;
        }
        .badge_get {
            background-color: #63a8e2;
        }
        .badge_post {
            background-color: #6cbd7d;
        }
        .badge_put {
            background-color: #22bac4;
        }
        .badge_delete {
            background-color: #d26460;
        }
        .badge_patch {
            background-color: #ccc444;
        }
        .list-group, .panel-group {
            margin-bottom: 0;
        }
        .panel-group .panel+.panel-white {
            margin-top: 0;
        }
        .panel-group .panel-white {
            border-bottom: 1px solid #F5F5F5;
            border-radius: 0;
        }
        .panel-white:last-child {
            border-bottom-color: white;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .panel-white .panel-heading {
            background: white;
        }
        .tab-pane ul {
            padding-left: 2em;
        }
        .tab-pane h2 {
            font-size: 1.2em;
            padding-bottom: 4px;
            border-bottom: 1px solid #ddd;
        }
        .tab-pane h3 {
            font-size: 1.1em;
        }
        .tab-content {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }
        #sidebar {
            margin-top: 30px;
            padding-right: 5px;
            overflow: auto;
            height: 90%;
        }
        .top-resource-description {
            border-bottom: 1px solid #ddd;
            background: #fcfcfc;
            padding: 15px 15px 0 15px;
            margin: -15px -15px 10px -15px;
        }
        .resource-description {
            border-bottom: 1px solid #fcfcfc;
            background: #fcfcfc;
            padding: 15px 15px 0 15px;
            margin: -15px -15px 10px -15px;
        }
        .resource-description p:last-child {
            margin: 0;
        }
        .list-group .badge {
            float: left;
        }
        .method_description {
            margin-left: 85px;
        }
        .method_description p:last-child {
            margin: 0;
        }
        .list-group-item {
            cursor: pointer;
        }
        .list-group-item:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body data-spy="scroll" data-target="#sidebar">

<a href="http://www.reactivemanifesto.org/" id="reactive-manifesto-banner">
  <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="{{config.siteUrl}}/assets/we-are-reactive-black-right.png">
</a>

<a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>

<header class="navbar navbar-default navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mesh-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{config.siteUrl}}" class="navbar-brand"><img alt="Brand" src="{{config.siteUrl}}/assets/mesh_logo.png"></a>
    </div>
    <nav class="collapse navbar-collapse" id="vertx-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://maven.gentics.com/maven2/com/gentics/mesh">Download</a></li>
        <li><a href="{{config.siteUrl}}docs/">Documentation</a></li>
        <li><a href="https://github.com/gentics/mash/wiki/wiki">Wiki</a></li>
        <li><a href="{{config.siteUrl}}community/">Community</a></li>
      </ul>
    </nav>
  </div>
</header>

  <div class="page-header" id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>REST API Specification <small>version {{version}}</small></h1> 
        </div>
      </div>
    </div>
  </div>


<!-- raml template -->
  <div class="container">
        <div class="row">
            <div class="col-md-9" role="main">
                {{#resources}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 id="{{uniqueId}}" class="panel-title">{{#if displayName}}{{displayName}}{{/if}}{{#unless displayName}}{{relativeUri}}{{/unless}}</h3>
                        </div>

                        <div class="panel-body">
                            {{#if description}}
                                <div class="top-resource-description">
                                    {{md description}}
                                </div>
                            {{/if}}

                            <div class="panel-group">{{> resource}}</div>
                        </div>
                    </div>
                {{/resources}}
            </div>

            <div class="col-md-3">
                <div id="sidebar" class="hidden-print affix" role="complementary">
                    <ul class="nav nav-pills nav-stacked">
                        {{#resources}}
                            <li><a href="#{{uniqueId}}">{{#if displayName}}{{displayName}}{{/if}}{{#unless displayName}}{{relativeUri}}{{/unless}}</a></li>
                        {{/resources}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
 


<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
        <h2>Mesh</h2>
        <ul class="list-unstyled">
          <li><a href="{{config.siteUrl}}">Home</a></li>
          <li><a href="https://maven.gentics.com/maven2/com/gentics/mesh">Download</a></li>
          <li><a href="{{config.siteUrl}}docs/">Documentation</a></li>
          <li><a href="https://github.com/gentics/mesh/wiki/wiki">Wiki</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
        <h2>Community</h2>
        <ul class="list-unstyled">
          <li><a href="{{config.siteUrl}}community/">Help &amp; Contributors</a></li>
          <li><a href="https://groups.google.com/forum/?fromgroups#!forum/mesh">User Group</a></li>
          <li><a href="https://groups.google.com/forum/?fromgroups#!forum/mesh-dev">Developer Group</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-offset-2 col-md-6 copyright">
        <!-- <p>Mesh is 100% open source. Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License 2.0</a>.</p>  -->
        <!--  <p>This website is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 License</a>.<br> -->
      </div>
    </div>
  </div>
</footer>

<script src="{{config.siteUrl}}javascript/jquery-1.9.1.min.js"></script>
<script src="{{config.siteUrl}}javascript/bootstrap.min.js"></script>
<script src="{{config.siteUrl}}javascript/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{config.siteUrl}}javascript/docs.js"></script>

</body>
</html>
