<%#encoding:UTF-8%>---
template: page.html
type: docs
title: <%= doctitle(:sanitize => true) || (attr 'untitled-label') %> &middot; Cai.Lun
heading: <%= doctitle(:sanitize => true) || (attr 'untitled-label') %>
stylesheet: docs.css
---

<div id="content">
  <div class="container docs-content">
    <div class="row">
      <div class="col-sm-12 col-md-push-9 col-md-3 hidden-xs hidden-sm">
        <div id="sidebar" data-spy="affix">
          <%= converter.convert self, 'outline' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-pull-3 col-md-9">
        <div class="toc hidden-md hidden-lg">
          <h2><%= attr 'toc-title' %></h2>
          <%= converter.convert self, 'outline' %>
        </div>
        <%= content %>

        <% unless !footnotes? || attr?(:nofootnotes) %>
          <div id="footnotes">
          <% footnotes.each do |fn| %>
            <div class="footnote" id="_footnote_<%= fn.index %>">
              <a href="#_footnoteref_<%= fn.index %>"><%= fn.index %></a>. <%= fn.text %>
            </div>
          <% end %>
        </div>
        <% end %>

        <% unless nofooter %>
          <div id="footer">
            <div id="footer-text">
              <% if attr? :revnumber %>
                <%= %(#{attr 'version-label'} #{attr :revnumber}) %><br>
              <% end
                if attr? 'last-update-label' %>
                <%= %(#{attr 'last-update-label'} #{attr :docdatetime}) %>
              <% end %>
              <%= (docinfo_content = (docinfo :footer)).empty? ? nil : %(#{docinfo_content}) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
